@media (min-width: 1200px) {
	.home-section .container {
		max-width: 880px;
	}
}
@media (min-width: 992px) {
	.home-section .container {
		max-width: 880px;
	}
}

.powered-by {
	display: none;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.7;
	}

	100% {
		opacity: 0;
	}
}

@keyframes scaling{
	0% {
		opacity: 0;
	}

	33% {
		opacity: 0.7;
	}

	100% {
		opacity: 0.7;
	}
  }
  
  .logo-cursor {
	  animation: scaling 3s infinite;
	  display: inline-block;
  }
  
  .logo-cursor:nth-child(0){
	animation-delay:0s;
  }
  .logo-cursor:nth-child(1){
	animation-delay:1s;
  }
  .logo-cursor:nth-child(2){
	animation-delay:2s;
  }

// .logo-cursor {
// 	// display: inline-block;
// 	// width: 2px;
// 	// height: 1.9rem;
// 	// background: rgb(63, 63, 63);
// 	// margin-left: 6px;
// 	// border-radius: 0px;
// 	animation: cursor 1.2s infinite;
// 	// margin-bottom: -2px;

// 	.dark & {
// 		// background: #eee;
// 	}
// }

.avatar {
	height: auto;
}

figcaption.numbered::before {
	font-weight: 400;
	text-transform: none;
}

table {
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body .article-style {
	line-height: 1.6rem;

	blockquote {
		font-style: italic;
	}
}

.dark blockquote {
	color: #b9b9b9;
}

.article-style {
	overflow: hidden;
}
