@media (min-width: 1200px) {
	.home-section .container {
		max-width: 880px;
	}
}
@media (min-width: 992px) {
	.home-section .container {
		max-width: 880px;
	}
}

.powered-by {
	display: none;
}

body .article-style {
	line-height: 1.6rem;

	blockquote {
		font-style: italic;
	}
}

.avatar {
	height: auto;
}

figcaption.numbered::before {
	font-weight: 400;
	text-transform: none;
}

table {
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.dark blockquote {
	color: #b9b9b9;
}

.article-style {
	overflow: hidden;
}
